@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/romka-04/facade-alibaba-encoder" target="_blank" class="ml-md-auto">GitHub</a>
        </div>

        <div class="content container px-4">
            @Body
        </div>
    </div>
</div>
